* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* ==================== */
/* =====HEADER TOP===== */
/* ==================== */
.container-hero {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
}
.header {
    display: flex;
    justify-content: space-between;
    margin: 30px 50px;
}
.logo {
    color: #f9faf8;
    font-size: 24px;
}
ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
    list-style-type: none;
}
li {
    padding-right: 20px;
}
a {
    text-decoration: none;
    color: #e5e7eb;
}

/* ===================== */
/* =====HEADER HERO===== */
/* ===================== */

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
}
.left-container {
    display: block;
}
.main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    text-align: left;
}
.secondary-text {
    font-size: 18px;
    color: #e5e7eb;
    margin: 20px 0;
}
.button {
    display: flex;
    width: 120px;
    height: 40px;
    align-items: center;
    justify-content: center;
    background-color: #3882f6;
    border-radius: 10px;
}
/* ======================== */
/* =====MIDDLE SECTION===== */
/* ======================== */

.img-container>img {
    width: 200px;
    height: 300px;
    border: 3px solid #3882f6;
    object-fit: cover;
    border-radius: 7%;
}

.middle-section {
    display: flex;
    flex-direction: column;
    margin: 20px 50px;
}
.middle-top {
    display: flex;
    justify-content: center;
}
.info {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}
.middle-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 70px 0;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}
.middle-paragraph {
    font-size: 18px;
    color: #e76b18;
    text-align: center;
    margin: 20px 0;
}
.button-middle {
    display: flex;
    width: 120px;
    height: 40px;
    align-items: center;
    justify-content: center;
    background-color: #3882f6;
    border-radius: 10px;
}